---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/leanind-imagen.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>LEANIND Consulting</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Calistoga&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quintessential&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	/* RESET BÁSICO sin afectar h1 */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		overflow-x: hidden;
		line-height: 1.5;
		font-family: system-ui, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
		font-weight: normal;
		/*font-size: inherit;*/
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	ul,
	ol {
		list-style: none;
		padding-left: 0;
	}
</style>
